.grid {
  margin-right: 10px;
}

.firecast {
  display: flex;
  overflow: scroll;
}

.condition figure {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.night {

}

.morning {

}