.firecast {
  display: flex;
  overflow: scroll;
}

.condition figure {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.card-box {
  padding: 10px;
  margin-right: 5px;
  border-radius: 20px;
}

.night {
  background-color: #074eaa;
  color: #a1c0e9;
}

.morning {
  background-color: #eceae4;
  color: #b87333;
}