.card {
  text-align: center;
  background-color: #0d8ee4a6;
  color: white;
  padding: 20px;
  border-radius: 20px;
}

form {
  margin-bottom: 20px;
}

form > input {
  padding: 15px;
  border-radius: 20px 0 0 20px;
  border: none;
  width: 100%;
}

form > input + button.btn {
  padding: 11px;
  border-radius: 0 20px 20px 0;
}


.card, form {
  width: 90%;
}

@media  (min-width: 768px) {
  .card, form {
    width: 70%;
  }
}

@media  (min-width: 900px) {
  .card, form {
    width: 60%;
  }
}

@media  (min-width: 1024px) {
  .card, form {
    width: 50%;
  }
}